@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 62.5%;
}
body {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    color: #515254;
}
h2 {
    text-align: center;
    font-size: 25px;
}
.content {
    margin: 100px auto;
}
p {
    margin: 0;
}

/* トップ */
.logo {
    position: absolute;
    top: -50px;
    font-family: Quicksand;
    background: #FFD768;
    width: 70px;
    height: 70px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}
.top {
    width: 100%;
    position: relative;
    top: 80px;
    display: flex;
    padding-bottom: 30px;
}  
.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}  
.slide_img {
    width: 100%;
    height: 600px;
    background-color: #c8e4ff;
}  
.slide_img img {
    width:100%;
    object-fit: cover;
    height: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -30px;
    color: white;
    font-size: 25px;
    transition: all 0.2s ease;
}  
.next {
    right: 0;
}  
.prev:hover, .next:hover {
    color: #FFD768;
    transition: all 0.1s ease;
}  
.slide_caption {
    position: absolute;
}
.cap1 {
    top: 20%;
    right: 30%;
    text-align: right;
}
.cap1 .title {
    font-size: 100px;
    font-weight: bold;
    color: white;
}
.cap1 .sub_title {
    font-size: 40px;
}
.cap2, .cap3 {
    top: 30%;
    left: 20%;
}
.cap2 .title {
    font-size: 40px;
    font-weight: lighter;
    line-height: 0;
}
.cap2 .sub_title {
    font-size: 60px;
    font-weight: 1000;
}
.slide_2_button {
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: #515254;
    width: 30%;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}
.cap3 .title {
    font-size: 60px;
    font-weight: bold;
}
.cap3 .sub_title {
    font-size: 40px;
}
.slide_3_button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: white;
    width: 30%;
    text-align: center;
    margin: 10px -8px;
    font-weight: bold;
}
.dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 10px 4px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease;
}
  
.dot:hover {
    background-color: #FFD768;
}

/* 人気商品 */
.best_items {
    background-color: #F2F2F2;
    padding: 30px 0;
}
.images {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.images::-webkit-scrollbar {
    display: none;
}
.item {
    position: relative;
}
.item img {
    width: 200px;
    height: 280px;
    padding: 10px 30px;
    cursor: pointer;
}
.item p {
    padding-top: 0;
    padding-left: 30px;
    font-size: 1.5rem;
}
.item span {
    text-decoration: line-through;
}
.item_tag {
    position: absolute;
    top: 10%;
    left: 11.5%;
    color: white;
    background: red;
    font-size: 15px;
    padding: 0 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.new_item_tag {
    background: #45be35;
}
.item:hover .sale_tag {
    opacity: 1;
}
.stars i {
    font-family: "Font Awesome\ 5 Free";
    font-style: normal;
    color: #FFD768;
}

/* 人気カテゴリー */
.top_category ul {
    display: flex;
    justify-content: center;
    padding: 0;
}
.top_category img {
    width: 80%;
}
.top_category li {
    width: 9%;
    list-style: none;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    text-align: center;
}
.top_category li:hover {
    opacity: 1;
}
.top_category p {
    position: absolute;
    bottom: 0;
    left: 35%;
    font-size: 1.5rem;
}

/* シーン別 */
.gallery {
    position: relative;
    display: flex;
}
.gallery_title {
    width: 20%;
}
.gallery_title p {
    font-size: 20px;
    margin-left: 20%;
}
.gallery_title p:first-child{
    font-size: 30px;
    font-weight: bold;
}
.gallery_images {
    width: 80%;
}
.gallery img {
    width: 29%;
    border-radius:50%;
    padding: 20px;
}
.scene {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    top: 40%;
    right: 20px;
}
.scene_name {
    font-size: 40px;
    font-weight: bold;
}
.shop_btn {
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    top: 50%;
    right: 20px;
}
.shop_now {
    border: 2px solid;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px;
    cursor: pointer;
}
.shop_now:hover {
    color: #CCCCCC;
    border: 2px solid white;
    background-color: white;
    transition: all .1s ease;
}

/* ディスカウント商品 */
.discount {
    background-color: #F2F2F2;
    height: 280px;
    margin: 0 100px;
    text-align: center;
    position: relative;
}
.plant_img {
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 0;
}
.chair_img {
    position: absolute;
    width: 15%;
    bottom: 0;
    right: 5%;
}
.discount_detail {
    position: absolute;
    top: 15%;
    left: 50%;
}
.discount_line_1 {
    font-size: 20px;
}
.discount_line_1 span {
    color: red;
}
.discount_line_2 {
    font-size: 30px;
}
.countdown {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
}
.time {
    padding: 2rem 3rem;
}  
#day, #hour, #min, #sec {
    font-size: 4rem;
}
.discount_button {
    position: absolute;
    cursor: pointer;
    border: 2px solid;
    font-size: 20px;
    width: 10%;
    padding: 5px;
    margin: 0 auto;
    bottom: 10%;
    left: 50%;
}
.discount_button:hover {
    transition: all .1s ease;
    background: #FFD768;
    color: white;
    border: 2px solid #FFD768;
}

/* サービス一覧 */
.our_service {
    width: 100vw;
    font-size: 25px;
}
.service_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service_detail {
    border: 2px solid #C0C0C0;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.service_detail img {
    width: 25%;
    opacity: 0.7;
    padding-bottom: 10px;
}
.service_line {
    font-size: 15px;
    color: #C0C0C0;
}

/* インテリアコーディネート */
.news {
    position: relative;
    display: flex;
}
.news img {
    width: 50%;
}
.explanation {
    font-size: 30px;
    background-color: white;
    padding: 50px 200px 100px 50px;
}
.news_box {
    background-color: #FFD768;
    width: 50%;
}
.news_box p {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 100px;
    text-align: right;
}
.news_contents {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 50%;
    left: 55%;
}
.view_all {
    color: white;
    border: 2px solid white;
    padding: 20px;
    margin-left: 20px;
    font-size: 20px;
    height: 30px;
    cursor: pointer;
}

/* ニュースレター */
.news_letter {
    width: 50%;
    margin: 100px auto;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
input::placeholder {
    color: #dcdcdc;
    font-size: 15px;
}
.news_letter p {
    margin: 10px;
}
.news_letter input {
    height: 40px;
    width: 70%;
    padding: 0 10px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.news_letter button {
    padding: 10px 30px;
    margin: 10px;
    background-color: #FFD768;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;
}
