@charset "UTF-8";

/**
 * 共通部分
 */
html {
    font-size: 62.5%;
    background-color: #f8f8f8;;
}
body {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    color: #515254;
}
.wrapper {
    margin: 100px 10%;
}
p {
    margin: 0;
}
h2 {
    font-size: 25px;
    width: 18vw;
    margin: 0;
}
h3 {
    font-family:'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
    font-weight: 100;
    font-size: 45px;
    margin: 0;
}
.container {
    width: calc(100% - 18vw);
    font-size: 30px;
}
.btn {
    display: flex;
    margin-left: 11em;
    margin-top: 1.5em;
    font-size: 18px;
    position: relative;
}
.arrow {
    position: absolute;
    display: flex;
    align-items: center;
    height: 20px;
    right: 0;
    line-height: 0;
}
.arrow_bar {
    width: 16rem;
    height: 1px;
}
.arrow_inner {
    height: 100%;
    background-color: #515254;
}
.arrow_head {
    position: absolute;
    top: 55%;
    right: -3px;
    font-size: 12px;
}
#footer {
    height: 150px;
}

/**
 * ハンバーガーメニュー
 */
.hamburger_outer {
    display: none;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 30px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    height: 2px;
    width: 25px;
    background-color: #515254;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: white;
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: white;
}
#menu-btn-check {
    display: none;
}
.search_btn {
    color: white;
    font-size: 20px;
    padding: 15px;
}
.menu-content ul {
    padding: 50px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    font-size: 15px;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
}
.menu-content {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #515254;
    opacity: 0.9;
    transition: all 0.5s;
}
#menu-btn-check:checked ~ .menu-content {
    left: 50%;
}

/**
 * トップ
 */
.top_logo {
    position: absolute;
    top: 40px;
    font-family: Quicksand;
    background: #FFD768;
    width: 70px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
}
.top_container {
    width: 100%;
    position: relative;
    top: -70px;
    display: flex;
    overflow: hidden;
    font-size: 20px;
}  
.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}  
.slide_img {
    width: 100%;
    height: 600px;
}  
.slide_img img {
    width:100%;
    object-fit: cover;
    height: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -30px;
    color: white;
    font-size: 1em;
    transition: all 0.2s ease;
    text-shadow: 1px 1px 2px #515254;
}  
.next {
    right: 0;
}  
.prev:hover, .next:hover {
    color: #FFD768;
    transition: all 0.2s ease;
}  
.slide_caption {
    position: absolute;
}
.top {
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: right;
}
.top .title {
    font-size:  20em;
    color: white;
    height: 400px;
}
.top .heading {
    color: white;
    font-size: 2em;
}
.top .heading span {
    font-size: 0.5em;
    font-family:'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
}
.br_sp {
    display: none;
}
.newarrival {
    top: 30%;
    left: 15%;
}
.newarrival .title {
    font-size: 2em;
    font-weight: lighter;
    line-height: 0;
}
.newarrival .heading {
    font-size: 3em;
    font-weight: 1000;
}
.newarrival .slide_btn {
    color: white;
    background: #515254;
    margin-top: 1em;
}
.newarrival .slide_btn:hover {
    color: #515254;
    background: white;
    font-weight: bold;
    transition: all.2s ease;
}
.slide_btn {
    padding: 0.25em 0.5em;
    font-size: 1em;
    width: 30%;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.kitchen_items {
    color: white;
    top: 20%;
    right: 15%;
    text-align: right;
}
.kitchen_items .title {
    font-size: 3em;
    font-weight: bold;
}
.kitchen_items .heading {
    color: #515254;
    text-shadow: 1px 1px 2px white;
}
.kitchen_items .slide_btn {
    border: 2px solid #FFD768;
    margin: 0.5em 0 0 auto;
}
.kitchen_items .slide_btn:hover {
    background-color: #FFD768;
    transition: all .2s ease;
}
.slide4 {
    background: #F2F2F2;
}
.slide4 .slide_img {
    width: 60%;
    margin: 0 0 0 auto;
}
.green_items {
    top: 25%;
    left: 10%;
}
.green_items p:first-child {
    font-size: 1em;
    color: #9cbb1c;
}
.green_items .title {
    font-size: 3em;
    font-weight: bold;
}
.green_items .slide_btn {
    margin: 5em 0 0;
    border-bottom: 3px solid #9cbb1c;
    padding-bottom: 0.25em;
    width: 20%;
}
.green_items .slide_btn:hover {
    color: white;
    text-shadow: 1px 1px 3px #515254;
    transition: all .2s ease;
}
.numbertext {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 10px 4px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease;
}
.dot:hover {
    background-color: #FFD768;
}

/**
 * ABOUT US
 */
.about {
    display: flex;
}
.about {
    position: relative;
}
.about_title {
    font-size: 100px;
    margin-right: 10px;
}
.about_font, .second_line, .last_line {
    font-size: 50px;
    font-family:'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
}
.second_line, .last_line {
    margin-left: 4em;
}
.about_detail {
    margin: 3em 7em 4em 13.5em;
    font-size: 15px;
    line-height: 2;
}
  
/**
 *  BEST ITEMS
 */
.best_items {
    background-color: #F2F2F2;
    padding: 100px 0;
    display: flex;
}
.best_items .head {
    margin: auto auto auto 10%;
}
.best_items_btn {
    display: flex;
    font-size: 18px;
    position: relative;
    margin-top: 45px;
}
.best_items_btn .arrow {
    right: 4em;
}
.best_items_btn .arrow_bar {
    width: 2rem;
}
.best_items .container {
    display: flex;
    overflow-x: scroll;
}
.best_items .container::-webkit-scrollbar {
    display: none;
}
.best_items_content {
    position: relative;
    font-size: 10px;
}
.best_items_content img {
    width: 30em;
    height: 40em;
    padding: 1em 3em;
    cursor: pointer;
}
.best_items_content p {
    padding-top: 0;
    padding-left: 2em;
    font-size: 1.5rem;
}
.best_items_content span {
    text-decoration: line-through;
    padding-left: 5px;
    color: #515254;
}
.new_item_tag {
    position: absolute;
    top: 10%;
    left: 30px;
    color: white;
    font-size: 16px;
    padding: 0 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.new_item_tag {
    background: #65ab31;
}

/**
 * DESIGNER, SHOPS
 */
.designer, .shops {
    display: flex;
}
.designer .head, .shops .head {
    margin-left: 10vw;
}
.designer .container, .shops .container {
    padding-left: 10vw;
}
.designer .btn, .shops .btn {
    margin-left: 0;
}

/**
 * GALLERY
 */
 .room_container {
    position: relative;
    height: 60em;
    margin-top: 130px;
}
#page, #page2, #page3 {
    position: absolute;
    display: flex;
    transition: opacity 0.3s ease;
    height: 100%;
    width: 100%;
}
.room_container img {
    object-fit: cover;
    width: 50%;
}
.room_content {
    width: 50%;
}
#page .room_content {
    background-color: #FFD768;
}
#page2 .room_content {
    background-color: #007394;
}
#page3 .room_content {
    background-color: #948779;
}
.room_content p {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 2em;
    text-align: right;
}
#page2 .room_content P {
    bottom: 0;
    position: absolute;
    right: 50%;
}
#page3 .room_content P {
    text-align: left;
}
.room_box {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 50%;
    right: 55%;
    font-size: 20px;
}
#page2 .room_box {
    top: 15%;
}
.detail_outer {
    background-color: white;
    height: 7em;
    width: 13em;
    padding: 1em;
    font-size: 1em;
} 
.detail_head {
    font-size: 1.5em;
}
.detail {
    font-size: 0.7em;
    margin-top: 2em;
}
.room_btn {
    color: white;
    border: 2px solid white;
    padding: 1em;
    margin: 0 1em;
    font-size: 1em;
    height: 1.5em;
}
.room_btn:hover {
    cursor: pointer;
    background: white;
    transition: all 0.2s ease;
    font-weight: bold;
}
#page .room_btn:hover {
    color: #FFD768;
}
#page2 .room_btn:hover {
    color: #007394;
}
#page3 .room_btn:hover {
    color: #948779;
}
#page2 .room_btn {
    margin: 0 0 auto 1em;
}
#toggleButton {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 1;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 2px #515254;
    z-index: 5;
}

/**
 * NEWS
 */
.news_inner {
    display: flex;
    position: relative;
}
.news ul {
    list-style: none;
    padding: 0;
}
.news li {
    padding-top: 6em;
}
.news_inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #d9d9d9;
}
.news_date, .news_category {
    width: 12vw;
    font-size: 2em;
}
h4 {
    font-size: 1.7em;
    font-weight: lighter;
    margin: 0 auto 2em 3em;
    text-align: left;
}
.news .btn {
    margin-left: 22em;
    margin-top: 4em;
}

/**
 * DISCOUNT
 */
.discount_container {
    background-color: #F2F2F2;
    height: 400px;
    text-align: center;
    position: relative;
    margin-top: 2em;
    margin-top: 130px;
}
.img_left {
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 0;
}
.img_right {
    position: absolute;
    width: 25%;
    bottom: 0;
    right: 5%;
}
.discount_head {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.discount_head span {
    color: red;
}
.discount_head h2 {
    width: 100%;
    font-size: 3.5em;
    font-family: 'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
    margin-bottom: 15px;
    font-weight: lighter;
}
.discount_detail {
    font-size: 1.5em;
}
.countdown {
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #7e807c;
}
.time {
    padding: 0 3em;
}  
#day, #hour, #min, #sec {
    font-size: 5rem;
}
.discount_btn {
    position: absolute;
    margin: 0 auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.discount_btn .arrow {
    right: -50px;
}
.discount_btn .arrow_bar {
    width: 1em;
}

/**
 * ONLINE STORE
 */
.store {
    display: flex;
    background-color: #7e807c;
}
.store .head {
    margin: auto 0 auto 10%;
    color: white;
}
.store img {
    width: 100%;
}
.store_sub_title {
    font-size: 4em;
    font-family: 'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
    margin: 0.7em 0 0.5em;
}
.store_detail {
    font-size: 1.5em;
    padding-bottom: 1.7em;
}
.store .btn {
    margin-left: 0;
}
.store .arrow {
    right: 50px;
}
.store .arrow_inner {
    background-color: white;
}
.store .arrow_bar {
    width: 2rem;
}

/**
 * OUR SERVICE
 */
.service {
    display: flex;
}

/* .service_content {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.service_box {
    color: #C0C0C0;
    border: 2px solid;
    text-align: center;
    padding: 0.9em;
}
.service_box img {
    width: 25%;
    opacity: 0.7;
    padding-bottom: 0.4em;
}
.service_detail {
    color: #515254;
}
.service_box p {
    font-size: 0.8em;
} */

/**
 * NEWS LETTER
 */
.news_letter {
    font-size: 20px;
    text-align: center;
}
input::placeholder {
    color: #dcdcdc;
    font-size: 0.75em;
}
.news_letter_heading {
    font-size: 0.7em;
}
.news_letter input {
    height: 3em;
    width: 50%;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.news_letter button {
    padding: 0.7em 1.5em;
    margin-left: 0.5em;
    background-color: #FFD768;
    border: none;
    color: white;
    font-size: 0.75em;
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;
}
