@charset "UTF-8";

@media screen and (max-width: 480px) {
    body {
        margin: 0;
    }
    /* 共通部分 */
    .wrapper {
        margin: 30px 10%;
    }
    h2 {
        font-size: 15px;
    }
    #footer {
        height: 80px;
    }

    /**
    * トップ画面
    */
    .top_logo {
        width: 30px;
        font-size: 15px;
        top: 35px;
    }
    .top_container {
        font-size: 10px;
        top: -100px;
    }
    .slide_img {
        height: 200px;
    }
    .cap4 {
        top: 15%;
    }
    .numbertext {
        font-size: 10px;
        top: 10px;
        right: 10px;
    }
    .dot {
        height: 5px;
        width: 5px;
    }

    /**
    * カテゴリー
    */
    .category_head {
        margin-top: -100px;
    }
    .category_container li {
        width: 15%;
    }
    .category_container p {
        font-size: 0.5rem;
    }

    /**
    * 人気商品
    */
    .best_items_container {
        padding: 10px 0;
    }
    .best_items_content {
        font-size: 5px;
    }
    .best_items_content p {
        padding-left: 1em;
    }
    .best_items_img {
        padding-bottom: 0;
    }

    /**
    * シーン別
    */
    .scene_title, .scene_img, .scene_name, .shop_btn {
        font-size: 10px;
    }
    .scene_container img {
        padding: 0.5em;
    }
    .shop_btn .btn {
        border: 1px solid
    }

    /**
    * ディスカウント
    */
    .discount_container {
        height: 100px;
    }
    .img_left {
        width: 30%;
    }
    .img_right {
        width: 20%;
    }
    .discount_detail, .discount_btn {
        font-size: 5px;
    }
    .countdown {
        top: 30%;
        font-size: 5px;
    }
    .time {
        line-height: 1;
        padding: 0 1.5em;
    }
    #day, #hour, #min, #sec {
        font-size: 3rem;
    }

    /**
    * サービス
    */
    .service_container {
        font-size: 13px;
    }
    .service_content {
        margin: 0 15px;
    }
    .service_box {
        padding: 0.3em;
        margin: 0.3em;
    }
    .service_box img {
        width: 40%;
    }

    /**
    * インテリアコーディネート
    */
    .room_container {
        height: 160px;
    }
    .room_content p {
        font-size: 20px;
        margin: 1em;
    }
    .room_box {
        font-size: 7px;
    }
    .room_btn {
        border: 1px solid white;
    }
    #page .room_box {
        left: 53%;
    }
    #page2 .room_box {
        left: 4%;
    }
    #page3 .room_box {
        left: 51%;
    }

    /**
    * ニュースレター
    */
    .news_letter {
        font-size: 8px;
        margin: 20px auto;
    }
    .news_letter input {
        height: 1em;
    }
    .news_letter button {
        padding: 0 1em;
    }
}