@charset "UTF-8";

/**
 * 共通部分
 */
html {
    font-size: 62.5%;
}
body {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    color: #515254;
}
h2 {
    text-align: center;
    font-size: 25px;
}
.wrapper {
    margin: 100px auto;
}
p {
    margin: 0;
}

/**
 * トップ画面
 */
.top_logo {
    position: absolute;
    top: 40px;
    font-family: Quicksand;
    background: #FFD768;
    width: 70px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
}
.top_container {
    width: 100%;
    position: relative;
    top: 80px;
    display: flex;
    padding-bottom: 30px;
    overflow: hidden;
}  
.slide {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}  
.slide_img {
    width: 100%;
    height: 600px;
}  
.slide_img img {
    width:100%;
    object-fit: cover;
    height: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -30px;
    color: white;
    font-size: 25px;
    transition: all 0.2s ease;
}  
.next {
    right: 0;
}  
.prev:hover, .next:hover {
    color: #FFD768;
    transition: all 0.1s ease;
}  
.slide_caption {
    position: absolute;
}
.cap1 {
    top: 20%;
    right: 30%;
    text-align: right;
}
.cap1 .title {
    font-size: 100px;
    font-weight: bold;
    color: white;
}
.cap1 .heading {
    font-size: 40px;
}
.cap2 {
    top: 30%;
    left: 20%;
}
.cap2 .title {
    font-size: 40px;
    font-weight: lighter;
    line-height: 0;
}
.cap2 .heading {
    font-size: 60px;
    font-weight: 1000;
}
.cap2 .slide_btn {
    color: white;
    background: #515254;
}
.slide_btn {
    padding: 5px 10px;
    font-size: 20px;
    width: 30%;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.cap3 {
    color: white;
    top: 40%;
    left: 50%;
    text-align: center;
}
.cap3 .title {
    font-size: 60px;
    font-weight: bold;
}
.cap3 .heading {
    font-size: 40px;
}
.cap3 .slide_btn {
    border: 1px solid white;
    margin: 10px auto;
}
.overlay {
    position: absolute;
    top: 0;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide4 {
    background: #F2F2F2;
}
.slide4 .slide_img {
    width: 60%;
    margin: 0 0 0 auto;
}
.cap4 {
    top: 25%;
    left: 10%;
}
.cap4 p:first-child {
    font-size: 20px;
    color: #9cbb1c;
}
.cap4 .title {
    font-size: 60px;
    font-weight: bold;
    padding: 20px 0;
}
.cap4 .heading {
    font-size: 30px;
    opacity: 0.8;
}
.cap4 .slide_btn {
    margin: 100px 0 0;
    border-bottom: 3px solid #9cbb1c;
    padding-bottom: 5px;
    width: 20%;
}
.numbertext {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 10px 4px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease;
}
.dot:hover {
    background-color: #FFD768;
}

/**
 * カテゴリー
 */
.category_container ul {
    display: flex;
    justify-content: center;
    padding: 0;
}
.category_container img {
    width: 80%;
}
.category_container li {
    width: 9%;
    list-style: none;
    cursor: pointer;
    opacity: 0.6;
    position: relative;
    text-align: center;
}
.category_container li:hover {
    opacity: 1;
}
.category_container p {
    position: absolute;
    bottom: 0;
    left: 35%;
    font-size: 1.5rem;
}

/**
 * 人気商品
 */
.best_items_container {
    background-color: #F2F2F2;
    padding: 30px 0;
}
.best_items_img {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.best_items_img::-webkit-scrollbar {
    display: none;
}
.best_items_content {
    position: relative;
}
.best_items_content img {
    width: 200px;
    height: 280px;
    padding: 10px 30px;
    cursor: pointer;
}
.best_items_content p {
    padding-top: 0;
    padding-left: 30px;
    font-size: 1.5rem;
}
.sale_price {
    color: red;
    font-weight: bold;
}
.best_items_content span {
    text-decoration: line-through;
    padding-left: 5px;
    color: #515254;
}
.new_item_tag, .sale_item_tag {
    position: absolute;
    top: 10%;
    left: 11.5%;
    color: white;
    font-size: 15px;
    padding: 0 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.new_item_tag {
    background: #45be35;
}
.sale_item_tag {
    background: red;
}
.stars i {
    font-family: "Font Awesome\ 5 Free";
    font-style: normal;
    color: #FFD768;
}

/**
 * シーン別
 */
.scene_container {
    position: relative;
}
.scene_title {
    position: absolute;
    font-size: 20px;
    margin-left: 4%;
    top: 40%;
}
.scene_heading {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #FFD768;
    padding-bottom: 5px;
}
.scene_title p {
    padding-top: 10px;
}
.scene_img {
    text-align: end;
}
.scene_container img {
    width: 25%;
    border-radius:50%;
    padding: 25px;
}
.scene_name {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 86%;
    position: absolute;
    top: 30%;
    right: 0;
}
.scene_name p {
    font-size: 40px;
    font-weight: bold;
    padding: 25px;
}
.shop_btn {
    display: flex;
    justify-content: space-around;
    width: 86%;
    position: absolute;
    top: 45%;
    right: 0;
}
.shop_btn .btn {
    border: 2px solid;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    cursor: pointer;
}
.shop_btn .btn:hover {
    color: #CCCCCC;
    border: 2px solid white;
    background-color: white;
    transition: all .1s ease;
}

/**
 * ディスカウント商品
 */
.discount_container {
    background-color: #F2F2F2;
    height: 270px;
    margin: 0 10%;
    text-align: center;
    position: relative;
}
.img_left {
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 0;
}
.img_right {
    position: absolute;
    width: 15%;
    bottom: 0;
    right: 5%;
}
.discount_detail {
    position: absolute;
    top: 15%;
    left: 50%;
}
.discount_detail p:first-child {
    font-size: 20px;
}
.discount_detail span {
    color: red;
}
.discount_detail p:last-child {
    font-size: 30px;
}
.countdown {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
}
.time {
    padding: 2rem 3rem;
}  
#day, #hour, #min, #sec {
    font-size: 4rem;
}
.discount_btn {
    position: absolute;
    cursor: pointer;
    border: 2px solid;
    font-size: 20px;
    width: 10%;
    padding: 5px;
    margin: 0 auto;
    bottom: 10%;
    left: 50%;
}
.discount_btn:hover {
    transition: all .1s ease;
    background: #FFD768;
    color: white;
    border: 2px solid #FFD768;
}

/**
 * サービス一覧
 */
.service_container {
    width: 100vw;
    font-size: 25px;
}
.service_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service_box {
    border: 2px solid #C0C0C0;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.service_box img {
    width: 25%;
    opacity: 0.7;
    padding-bottom: 10px;
}
.service_detail {
    font-size: 15px;
    color: #C0C0C0;
}

/**
 * インテリアコーディネート
 */
.room_container {
    position: relative;
    display: flex;
}
.room_container img {
    width: 50%;
}
.room_detail {
    font-size: 30px;
    background-color: white;
    padding: 50px 200px 100px 50px;
}
.room_content {
    background-color: #FFD768;
    width: 50%;
}
.room_content p {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 100px;
    text-align: right;
}
.room_box {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 50%;
    left: 55%;
}
.room_btn {
    color: white;
    border: 2px solid white;
    padding: 20px;
    margin-left: 20px;
    font-size: 20px;
    height: 30px;
    cursor: pointer;
}

/**
 * ニュースレター
 */
.news_letter {
    width: 50%;
    margin: 100px auto;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
input::placeholder {
    color: #dcdcdc;
    font-size: 15px;
}
.news_letter p {
    margin: 10px;
}
.news_letter input {
    height: 40px;
    width: 70%;
    padding: 0 10px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.news_letter button {
    padding: 10px 30px;
    margin: 10px;
    background-color: #FFD768;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;
}
