@charset "UTF-8";

body {
    font-family: 'Alegreya Sans SC', sans-serif;
    position: relative;
    margin: 0;
}
nav {
    color: white;
    background: #515254;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    font-size: 20px;
}
ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 2em;
}
li {
    margin: 0 1em;
    text-align: right;
    padding-bottom: 5px;
    cursor: pointer;
}
li:hover {
    color: #FFD768;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}
.li::before {
    position: absolute;
    top: -1px;
}
.ccc {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 480px) {
    li {
        margin: 0 0.5em;
    }
    nav {
        font-size: 10px;
    }
}