@charset "UTF-8";

/**
 * 共通部分
 */
html {
    font-size: 62.5%;
    background-color: #fdf9f2;
    /* background-color: #f1f2ed; */
}
body {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    color: #59514c;
}
body::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    cursor: default;
    color: inherit;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.wrapper {
    margin: 250px 10%;
}
p {
    margin: 0;
}
h2 {
    font-size: 25px;
    width: 18vw;
    margin: 0;
}
h3 {
    font-family:'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
    font-weight: 100;
    font-size: 45px;
    margin: 0;
}
.container {
    width: calc(100% - 18vw);
}
.btn {
    display: flex;
    margin-top: 1.5em;
    margin-left: 0;
    font-size: 18px;
    position: relative;
}
.arrow {
    position: absolute;
    display: flex;
    align-items: center;
    height: 20px;
    right: 0;
    top: 0;
    cursor: pointer;

    /* flex-direction: column; */
    justify-content: center;
}
.arrow_bar {
    width: 16rem;
    height: 1px;
}
.arrow_inner {
    height: 100%;
    /* background-color: #515254; */
    background-color: #484036;
}
.arrow_head {
    position: absolute;
    right: -3px;
    font-size: 13px;
}
#footer {
    height: 150px;
}
ul {
    list-style: none;
    padding: 0;
}
.ms_font {
    font-family:'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
}
.jp_font {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/**
 * HEADER
 */
header {
    font-size: 20px;
    line-height: 3;
    position: fixed;
    z-index: 99;
    background-color: #fdf9f2;
    /* background-color: #f1f2ed; */
    width: 100%;
    top: 0;
    transition: top 0.8s ease-in-out;
}
.unfixed {
    position: fixed !important;
    top: -100%;
    transition: top 0.8s ease-in-out;
}
.logo {
    position: absolute;
    top: 1.5em;
    font-family: Quicksand;
    background: #F2C762;
    width: 1.5em;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    line-height: 1.5;
    margin-left: 1em;
}
.header_list {
    display: flex;
    justify-content: center;
}
.header_list li {
    margin: 0 2rem;
    text-align: center;
}
.header_list li a, .menu a {
    padding-bottom: 10px;
}
.header_list li a:hover, .menu a:hover {
    color: #F2C762;
    border-bottom: 1px solid;
}
.store_btn {
    position: absolute;
    right: 5em;
    top: 1em;
}
/**
 * HAMBURGER MENU
 */
.menu_btn {
    position: absolute;
    top: 1.5em;
    right: 2em;
    height: 30px;
    width: 30px;
    z-index: 90;
    cursor: pointer;
    padding-top: 20px;
}
.menu_btn span,
.menu_btn span:before,
.menu_btn span:after {
    content: '';
    height: 2px;
    width: 30px;
    background-color: #484036;
    position: absolute;
}
.menu_btn span:before {
    bottom: 8px;
}
.menu_btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu_btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu_btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: white;
}
#menu-btn-check:checked ~ .menu_btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: white;
}
#menu-btn-check {
    display: none;
}
.menu_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #888884;
    transition: all 0.5s;
    padding: 7vw 10%;
    color: white;
    display: flex;
}
#menu-btn-check:checked ~ .menu_content {
    left: 0;
}
.menu_head {
    width: 18vw;
    font-size: 30px;
    line-height: 2;
}
.menu_right {
    width: calc(100% - 18vw);
}
.menu_body {
    font-size: 40px;
    display: flex;
}
.menu_body ul {
    line-height: 2;
    margin-top: -10px;
    padding: 0;
}
.menu_body li a:hover {
    color: #F2C762;
}
.menu_body p {
    padding-left: 35vw;
    line-height: 1.5;
}
.menu_bottom {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #959793;
    width: calc(100% - 22vw);
}
.menu_bottom ul {
    font-size: 20px;
    padding-left: 0;
    display: flex;
}
.menu_bottom li {
    margin-right: 3em;
    cursor: pointer;
}

/**
 * 1.TOP
 */
#top {
    scroll-margin-top: 150px;
}
.top {
    position: relative;
    top: 3em;
    font-size: 20px;
}
.top_img {
    margin: 0 2em;
}  
.top_img img {
    width: 100%;
}
.top_title {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: right;
}
h1 {
    font-size: 20em;
    color: white;
    margin: 0;
    font-weight: 500;
}
.top p {
    color: #fdf9f2;
    font-size: 30px;
}
.top span {
    font-size: 0.9em;
}

/**
 * 2.ABOUT US
 */
#about {
    scroll-margin-top: 150px;
}
.about {
    display: flex;
    position: relative;
}
.about_title {
    font-size: 100px;
    margin-right: 10px;
}
.first_line {
    margin-top: -0.7em;
}
.first_line, .second_line, .last_line {
    font-size: 50px;
}
.second_line, .last_line {
    margin-left: 4em;
}
.about_detail {
    margin: 3em 7em 4em 13.5em;
    font-size: 16px;
    line-height: 2;
}
  
/**
 *  3.BEST ITEMS
 */
#products {
    scroll-margin-top: 150px;
}
.best_items {
    /* background-color: #faf3e5; */
    /* background-color: #e7e8e3; */
    /* background-color: #ecede8; */
    padding: 100px 0;
    display: flex;
}
.best_items .head {
    margin: auto auto auto 10%;
}
.best_items_btn, .best_items_btn_sp {
    display: flex;
    font-size: 18px;
    position: relative;
    margin-top: 2em;
}
.best_items_btn .arrow {
    right: 4em;
}
.best_items_btn .arrow_bar {
    width: 2rem;
}
.best_items .container {
    display: flex;
    overflow-x: scroll;
}
.best_items .container::-webkit-scrollbar {
    display: none;
}
.best_items_content {
    position: relative;
    font-size: 10px;
}
.best_items_content img {
    width: 30em;
    height: 40em;
    padding: 1em 3em;
    cursor: pointer;
}
.best_items_content p {
    padding-top: 0;
    padding-left: 2em;
    font-size: 16px;
}
.best_items_content:first-child {
    margin-left: -2em;
}
.new_item_tag {
    position: absolute;
    top: 10%;
    left: 30px;
    color: white;
    font-size: 16px;
    padding: 0 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.new_item_tag {
    background: #65ab31;
}
.best_items_btn_sp {
    display: none;
}

/**
 * 4.DESIGNERS, 5.SHOPS
 */
.designer {
    margin-bottom: -150px;
}
.designer, .shops {
    display: flex;
}
.designer .head, .shops .head,
.designer .container, .shops .container {
    margin-left: 10vw;
}
.designer .container, .shops .container {
    margin-top: -1em;
}

/**
 * 6.GALLERY
 */
#gallery {
    scroll-margin-top: 150px;
}
.gallery {
    margin: 250px 40px;
}
.gallery_bg {
    position: relative;
}
.gallery_bg img {
    width: 100%;
}
.gallery_head {
    position: absolute;
    top: 30%;
    font-size: 150px;
    color: #fdf9f2;
}

/**
 * 7.NEWS
 */
#news {
    scroll-margin-top: 150px;
}
.news_inner {
    display: flex;
    position: relative;
}
.news_head {
    width: 18vw;
    display: flex;
    font-size: 18px;
}
.news ul {
    padding: 0;
}
.news li {
    padding-top: 6em;
}
.news_inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #d9d9d9;
}
.news_category {
    padding-left: 6em;
}
h4 {
    font-size: 18px;
    font-weight: lighter;
    margin: 0 auto 2em 8em;
    text-align: left;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
h4 i {
    font-size: 14px;
    cursor: pointer;
}
.news .btn {
    margin-left: 23.5em;
    margin-top: 4em;
}

/**
 * 8.DISCOUNT
 */
.discount {
    /* background-color: #faf3e5; */
    /* background-color: #e7e8e3; */
    /* background-color: #ecede8; */
    height: 500px;
    text-align: center;
    position: relative;
}
.img_left {
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 0;
}
.img_right {
    position: absolute;
    width: 25%;
    bottom: 0;
    right: 1%;
}
.img_top_sp {
    display: none;
}
.discount_head {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.discount_head span {
    font-size: 50px;
    color: #CC0000;
}
.discount_head h2 {
    width: 100vw;
    font-size: 45px;
    margin-bottom: 15px;
    font-weight: lighter;
}
.br_sp {
    display: none;
}
.discount_detail {
    font-size: 18px;
}
.countdown {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #7e807c;
}
.time {
    padding: 0 2em;
}  
#day, #hour, #min, #sec {
    font-size: 5rem;
}
.discount_btn {
    position: absolute;
    margin: 0 auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.discount_btn .arrow {
    right: -50px;
}
.discount_btn .arrow_bar {
    width: 1em;
}

/**
 * 9.OUR SERVICE
 */
#service {
    scroll-margin-top: 150px;
}
.service {
    display: flex;
}
.service_content {
    width: 40vw;
    margin-top: -1em;
}
.service_content:nth-child(2) {
    margin-left: 10vw;
    margin-top: 50px;
}
.service_content:last-child {
    margin-left: 20vw;
    margin-top: 50px;
}
.service span {
    font-size: 40px;
}

/**
 * 10.ONLINE STORE
 */
#store {
    scroll-margin-top: 150px;
}
.store {
    display: flex;
    background-color: #59514c;
}
.store .head {
    margin: auto 0 auto 10%;
    color: #fdf9f2;
}
.store img {
    width: 100%;
}
.store_sub_title {
    font-size: 4em;
    margin: 0.7em 0 0.5em;
}
.store_detail {
    font-size: 1.5em;
    padding-bottom: 1.7em;
}
.store .arrow {
    right: 50px;
}
.store .arrow_inner {
    background-color: #fdf9f2;
}
.store .arrow_bar {
    width: 2rem;
}

/**
 * 11.NEWS LETTER
 */
.news_letter {
    display: flex;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.news_letter .container {
    text-align: end;
    font-size: 16px;
}
input::placeholder {
    color: #d9d9d9;
}
.news_letter label {
    padding-bottom: 1.5em;
    border-bottom: solid 1px #d9d9d9;
}
.news_letter p {
    margin-bottom: 30px;
    margin-left: 38%;
    text-align: left;
}
.news_letter input {
    width: 60%;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: transparent;
    border-block-end: none;
    border-block-start: none;
    border-right: none;
    border-left-width: thin;
}
.news_letter input:focus {
    outline: none;
}
.fa-envelope {
    font-style: normal;
    font-family: Font Awesome\ 5 Free;
}

/**
 * FOOTER
 */
footer, .footer_body, .footer_bottom ul {
    display: flex;
}
footer {
    position: relative;
    color: white;
    background: #E7C681;
    padding: 7vw 10%;
}
footer ul {
    padding: 0;
}
.footer_head {
    width: 18vw;
    font-size: 30px;
    line-height: 2;
}
.footer_body ul {
    font-size: 30px;
    line-height: 2.5;
    margin-top: -10px;
}
.footer_body li a {
    padding-bottom: 10px;
}
.footer_body li a:hover {
    color: #F2C762;
    border-bottom: 1px solid;
}
.footer_address {
    padding-left: 25vw;
    font-size: 16px;
}
address {
    font-style: normal;
}
.footer_address dd {
    margin: 20px 0 30px;
}
.footer_bottom {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #fdf9f2;
}
.footer_bottom ul {
    font-size: 20px;
}
.footer_bottom li {
    margin-right: 4em;
    cursor: pointer;
}
.copyright {
    padding-top: 50px;
    font-size: 16px;
}